.container {
  padding: 0 2rem;
}

.header {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/fd833a96-5ec1-4902-83cb-77290e482040/LT-en-20220801-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
}
