.signin {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 450px;
  padding: 2em 4em;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.modal p {
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 1rem 1.25rem;
  margin: 1em 0;
  font-size: 1rem;
}

.button {
  background-color: rgb(229, 9, 20);
  transition: none;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  margin-top: 3em;
}

.button:hover {
  transform: none;
}

.error {
  font-size: 0.8rem;
  color: rgb(255, 145, 0);
}

.modal .bottom {
  font-size: 1rem;
}

.bottom a {
  text-decoration: none;
  color: rgb(229, 9, 20);
}

.bottom a:hover {
  text-decoration: underline;
}
